<div>
  <ul class="space-y-6 shadow-sm p-8 bg-slate-300 rounded-md mt-10">
    @for (item of todos; track $index) {
    <div class="flex justify-center flex-col">
      <h1><span class="font-bold">SR.NO =></span> {{ $index + 1 }}</h1>
      <h1><span class="font-bold">Name=></span> {{ item.title }}</h1>
      <h1><span class="font-bold">Password=></span> {{ item.password }}</h1>
    </div>
    <div class="space-x-4">
      <button
        class="p-4 px-7 bg-green-500 rounded-full"
        [routerLink]="'/todo-form/' + item._id"
      >
        Edit
      </button>
      <button
        (click)="delete(item._id)"
        class="p-4 px-7 bg-red-500 rounded-full"
      >
        Delete
      </button>
    </div>
    }
  </ul>
</div>
