<div class="flex flex-col space-y-4 mt-20 shadow-md rounded-lg p-10">
  <input
    class="p-4 border-2 rounded-lg"
    type="text"
    [(ngModel)]="todoObj.title"
  />
  <input
    class="p-4 border-2 rounded-lg"
    type="password"
    [(ngModel)]="todoObj.password"
  />
  @if (isEdit) {
  <button
    (click)="postData()"
    class="p-4 px-7 bg-purple-500 text-white rounded-full"
  >
    Update todo
  </button>
  }@else {
  <button
    (click)="postData()"
    class="p-4 px-7 bg-slate-500 text-white rounded-full"
  >
    Add todo
  </button>
  }
</div>
